$purple: #8323ff;
$pink: #ff2daf;
$yellow: #feea35;
$color-gradient: linear-gradient(90deg, #9F55FF 0%, #FF46B9 100%);
$color-white: #fff;
$color-gray-200: #8b8d9b;
$color-gray-300: #373754;
$color-gray-400: #2b2b37;
$color-gray-500: #1e1f28;
